<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%  if(user) {%>
    <a href="/auth/logout">logout</a>
    <%}else{ %>
    <a href="/auth/login">login</a>
    <%} %>
    <a href="/">Home</a>
    <h1>Login</h1>
    <a href="/auth/google">google login</a>

</body>

</html>